{{> header}}
<div class="container">
    <div class="card">
        <div class="card-body text-center">
            <h3>Отримання даних про погоду</h3>
            <a href="/weather" class="btn btn-warning btn-lg" role="button">Сторінка про погоду</a>
        </div>
    </div>
</div>
{{> footer}}
