<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 403 - Forbidden</title>
    <style>
        <!-- Стилі --> </style>
</head>
<body>
<div class="container">
    <h1>Error 403 - Forbidden</h1>
    <p>Access to this resource is forbidden. Please <a
            href="/auth/login">login</a> to continue.</p>
</div>
</body>
</html>